@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.mobile-nav, footer .mobile {
    display: none;
}

nav {
    display: inline;
}

footer .desktop {
    display: block;
}

@media (max-width : 960px) {

    .mobile-nav, footer .mobile {
        display: block;
    }

    .logo-mobile {
        position: absolute;
        top: -15px;
        right: 15px;
        font-size: 1.2rem;
    }

    header #branding {
        display: none;
    }

    body {
        padding-top: 15px;
    }

    .container {
        max-width: 1050px;
        width: 90%;
        margin: auto;
    }

    .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }

    .navbar .menu-items {
        display: flex;
        background-color: rgba(255, 255, 255, 1);
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .navbar .nav-container a:hover{
        font-weight: bolder;
    }

    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 120px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        -webkit-box-shadow: 17px 0px 15px -18px rgba(56,56,56,0.9);
        box-shadow: 17px 0px 15px -18px rgba(56,56,56,0.9);
    }

    .navbar .menu-items li {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        font-size: 1.5rem;
        font-weight: 500;
        border-top: 1px solid rgba(146, 161, 176, 0.25);
    }

    .navbar .menu-items li:last-child {
        border-bottom: 1px solid rgba(146, 161, 176, 0.25);
    }

    .navbar .menu-items a {
        color: #111;
    }

    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .logo-mobile {
        display: none;
    }

    footer {
        margin: auto;
        width: 50%;
        text-align: center;
    }

    footer .mobile a {
        font-size: 2.5rem;
        color: #333;
        display: inline-block;
    }

    footer .desktop {
        display: none;
    }
}

@media (max-width : 480px) {
    body {
        margin-top: 0;
        padding-top: 0;
    }
}
