# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Arentura
lang: en-US
email:
tagline: Rentals and other services in El Zonte
description: Car rentals, motorbike rentals, bike rentals and Surf board rentals in El Zonte, El Salvador. Also gives information about other services like taxis, hairdresser, trips, Spanish schools, tattoo studio and lists community links, events and other resources.
url: arentura.com
author:
  name: Arentura
  twitter: arentura1
  picture: assets/images/Arentura_Logo_No_Text.png
logo: assets/images/Arentura_Logo_No_Text.png
twitter_username: arentura1
github_path: gcomte/arentura
telegram_group: arentura
lightning_address: arentura@ln.bitcoinbeach.com
minimal_mistakes_skin: default
google_analytics: G-7BSMQ4177D

# Search
search: true
search_full_content: true

# Twitter
twitter:
  username: arentura1
  card: summary

# Build settings
markdown: kramdown
remote_theme: "mmistakes/jekyll-theme-basically-basic@1.4.5"
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jemoji
  - jekyll-include-cache
  - jekyll-seo-tag

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/arentura1"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/gcomte/arentura"
    - label: "Telegram"
      icon: "fab fa-fw fa-telegram"
      url: "https://t.me/arentura"

defaults:
  # _posts
#  - scope:
#      path: ""
#      type: posts
#    values:
#      layout: single
#      author_profile: true
#      read_time: true
#      comments: true
#      share: true
#      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
